.mainDiv{

        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
}

.home{
    background-color: rgb(24, 8, 71)!important;
}
.card{
    color: white;
    background-color: rgb(95, 79, 219);
}